.App {
  text-align: center;
}
.login,.logout{
  padding: 10px 15px;
  color: #ffffff;
  margin-top: 50px;
  box-shadow: 3px 3px 9px -6px #0f0d0d;
  border: none;
}
.login:hover,.logout:hover{
  cursor: pointer;
  opacity: 0.8;
}
.login{
  background-color: #1dc51d;
}
.logout{
  background-color: #fa1717;
}